<!DOCTYPE html>
<html>
  <head>
    <title>LandSections</title>
    <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <title>Земельные участки в Курске</title>
  <link href="https://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  <div class="container">
	    <%= yield %>
	   </div>
     <%= javascript_include_tag 'fadeIn' %>
  </body>
</html>
